body {
    background-image: url("imgs/colorfull-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.trans-body {
    width: 100%;
    height: 100%;
    background-color: rgba( 40, 40, 40, 0.6);
    border: 1px solid black;
/*  The opacity attribute cause all chidren to also 
    inhert the same level of opacity so rgba with a
    fourth argument should be used  
    opacity: 0.4;
    filter: alpha(opacity=60);*/ /* For IE8 and earlier */
}
.side-nav {
    /*background-color: red;*/
    width: 250px;
    max-width: 250px;
    height: 100%;
}
.side-nav-button {
    background-color: green;
    height: 50px;
}